extends ../layout 

block content 
  h1= title 
  div(class="search-and-create")  
    a(class="button" href="/books/new") Create new book 
    form(class="search" action=`${route}` method="POST" style="max-width: 350px")
      button(type='submit')
              i.fa.fa-search
      input(type="text" placeholder="Search.." name="search")
  include table
  p 
    -var n = 1
    while n <= pages
      if current == n
        a(class="button buttonPage pageActive" href=`/books/pages/${n}`)= n++
      else 
        a(class="button buttonPage" href=`/books/pages/${n}`)= n++